{
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "bracketSpacing": true
}
